header, section, footer, aside, nav, article, figure, figcaption{
    display: block;
}

body{
    color:blueviolet;
    background-color: cornflowerblue;
    background-position: center;
    font-family: georgia, Times, serif;
    line-height: 1.4em;
    margin: 0px;
}
.about{
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #00000000;
    background-color: #ffffffff;
}
header{
    height: 160px;
    background-color:black;
}
h1{
    text-indent: -9999px;
    width: 940px;
    height: 130px;
    margin: 0px;
}
nav.footer{
    clear: both;
    color: #ffffffff;
    background-color: black;
    height: 30px;
}
nav ul{
    margin: 0px;
    padding: 5px 0px 5px 30px;

}
nav li{
    display: inline;
    margin-right: 40px;
}
nav li a{
    color: white;
}
nav li a:hover, nav li a.current{
    color:black;
}
section.courses{
    float: left;
    width: 659px;
    border-right: 1px solid white;
}
article{
    clear: both;
    overflow: auto;
    width: 100%;
}
hgroup{
    margin-top: 40px;
    width: 290px;
    height:250px;
    padding: 5px;
    border: 1px xolid white;
}