body{
    background-color: white;
}
.main{
    background-color:darkturquoise;
}
h1{
    text-align: center;
    font-size: 100px;
    color: red;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h4{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    color: green;

}
p{
    text-align: center;
    color: white;
}