<div class="row" style="display: flex; padding:5%; justify-content:space-around">
    <div class="col-4" style="margin: 0px 5% ;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Wrath of Man</mat-card-title>
          <mat-card-subtitle>Judul Film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/movie/wrath-of-man.jpeg" alt="Photo of a Shiba Inu"
          style="height: 380px; width:300px">
        <mat-card-content>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Exercitationem eos dolorem voluptas quasi veniam fugit,
  
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="/about/1">Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Rumble</mat-card-title>
          <mat-card-subtitle>Judul Film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/movie/rumble.jfif" alt="Photo of a Shiba Inu"
          style="height: 380px; width:300px">
        <mat-card-content>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Exercitationem eos dolorem voluptas quasi veniam fugit,
  
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="/about/2">Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4" style="margin: 0px 5% ;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Army the Thieves</mat-card-title>
          <mat-card-subtitle>Judul Film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/movie/army-the-thieves.jfif" alt="Photo of a Shiba Inu"
          style="height: 380px; width:300px">
        <mat-card-content>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Exercitationem eos dolorem voluptas quasi veniam fugit,
  
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="/about/3">Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  
  
  <div class="row" style="display: flex; padding:5%; justify-content:space-around">
    <div class="col-4" style="margin: 0px 5% ;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Dune</mat-card-title>
          <mat-card-subtitle>Judul Film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/movie/dune.jfif" alt="Photo of a Shiba Inu"
          style="height: 380px; width:300px">
        <mat-card-content>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Exercitationem eos dolorem voluptas quasi veniam fugit,
  
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="/about/4">Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>The Tomorrow War</mat-card-title>
          <mat-card-subtitle>Judul Film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/movie/the-tomorrow-war.jfif" alt="Photo of a Shiba Inu"
          style="height: 380px; width:300px">
        <mat-card-content>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Exercitationem eos dolorem voluptas quasi veniam fugit,
  
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="/about/5">Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="col-4" style="margin: 0px 5% ;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Raging Fire</mat-card-title>
          <mat-card-subtitle>Judul Film</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/movie/raging-fire.jfif" alt="Photo of a Shiba Inu"
          style="height: 380px; width:300px">
        <mat-card-content>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Exercitationem eos dolorem voluptas quasi veniam fugit,
  
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="/about/6">Details</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>